CLOCKIFY_API_KEY=
CLOCKIFY_DEFAULT_WORKSPACE=25b687e29ae1f428e7ebe123
CLOCKIFY_DEFAULT_PROJECT=25b687e29ae1f428e7ebe123
CLOCKIFY_USER_URL=https://api.clockify.me/api/v1/user
CLOCKIFY_BASE_URL=https://api.clockify.me/api/v1/workspaces/$CLOCKIFY_DEFAULT_WORKSPACE/
